@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

.h1 {
    font-family: 'Bellefair', 'serif';
}

.h5 {
    font-family: 'Barlow Condensed', 'serif';
}

.para {
    font-family: 'Barlow';
}

.dark {
    color: rgb(208, 214, 249);
}

.white {
    color: rgb(255, 255, 255);
}

.menu {
    background: hsl(0 0% 100% / 0.03);
    position: fixed;
    backdrop-filter: blur(1rem);
}

.drop:hover {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.153);
}

.effect::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 999;
    background-color: white;
    transition: 0.3s ease 0s;
}
